extends ../layout

block content
  .container
    h1= title

    if cartItems.length
      ul.checkout-items
        each item in cartItems
          li
            | #{item.product_name} - $#{item.price_per_unit.toFixed(2)} x #{item.quantity}

      hr
      .totals
        p Subtotal: $#{subtotal}
        p Tax (CA 7.25%): $#{tax}
        p Delivery Fee: $#{deliveryFee}
        h3 Total: $#{total}

      form(method="POST", action="/cart/checkout/submit")
        button.btn(type="submit") Place Order
    else
      p Your cart is empty.
