extends ../layout

block content
  h1 Our Collections
  ul.product-grid#product-list
    - for product in products
      li.product-item
        a(href=`/products/${product.id}` aria-label="View details for #{product.name}")
          img(src='/images/#{product.image}' alt='#{product.name}' onerror="this.onerror=null; this.src='https://via.placeholder.com/200x200';")
          h3 #{product.name}
          p #{product.description}
          span $#{(product.price || 0).toFixed(2)}   // Ensure it's a valid number

