extends ../layout

block content
	.product-details
		h3 #{product.name}
		img.product-image(src='/images/#{product.image}', alt='#{product.name} image')
		p #{product.description}
		p Price: #{product.price}
