extends ../layout

block content
  .product-details
    h3 #{product.name}
    img.product-image(src='/images/#{product.image}', alt='#{product.name} image')
    p.description= product.description
    p.price Price: $#{product.price.toFixed(2)}
    
    // Add back link to return to all products
    a(href="/products") ← Back to All Products
